<%= form_with(model: @listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :photo %> <%= form.file_field :photo, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <%# drop down code %>
    <div>
        <%= form.label :category %>
        <%# <%= form.select(:category, {tabletop: 0, card: 1, video: 2}) %>    
        <%= form.select :category, Listing.categories.keys.to_a %>
    </div>
    
     <%# drop down code %>
    <div>
        <%= form.label :price_type %>
        <%# <%= form.select(:price_type, {fixed: 0, free: 1, negotiable: 2, swap: 3}) %> 
        <%= form.select :price_type, Listing.price_types.keys.to_a %>
        <%# <%= options_for_select ([[fixed: 0], [free: 1], [negotiable: 2], [swap: 3]])%> 
        <%# <%= form.select :price_type, @price_type %> 
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>

      <div class="actions">
    <%= form.submit %>

<%# had to do listing.seller here for create method on heroku? will this still work on local? %>
      <% if current_user.present? && current_user == @listing.seller %>
          <tr class = "tr"><%= link_to 'Destroy Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> </tr>
      <% end %>        
  </div>

<% end %>

   <%# <div>
        <%= form.label :category %>
        <%# <%= form.select(:category, Listing.categories) %>    
    <%# </div> %>

        <%# <%= form.select(:category, ({tabletop: 0, card: 1, video: 2}.to_a)) %>  
        <%# <%= form.select (:category, {@category.keys.to_a}) %> 
        <%# f.input :category, :as => :select, :collection => Listings.categories.keys.to_a %>
        <%# <%= select_tag(:category, [[tabletop: 0], [card: 1], [video: 2]] ) %> 
        <%# <%= options_for_select ([[tabletop: 0], [card: 1], [video: 2]]) %> 
        <%# <%= form.select :catgeory, @categories %>  
        <%# collection select works with hashes  - only if they have a model?? %>
        <%# use listing.categories.keys method? %>
        <%# collection_select is only for if category is a model, so form.select is neeeded %>

    <%# <div> %>
        <%# <%= form.label :location %> 
        <%# <%= form.text_field :location %>
    <%# </div> %>

    <%# timestamp here? %>
    <%# <div> %>
        <%# <%= form.label :created_at %> 
        <%# <%= form.number_field :created_at %> 
    <%# </div> %>
 

