
    <div>
        <%= form.label :photo%>
        <%= form.file_field :photo %>
    </div>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <%# drop down code %>
    <div>
        <%= form.label :category %>
        <%= form.collection_select :catgeory, @categories, :id, :name %>
    </div>

    <%# drop down code %>
    <div>
        <%= form.label :price_type %>
        <%= form.collection_select :price_type, @price_type, :id, :name %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>

    <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>

    <%# timestamp here? %>
    <div>
        <%= form.label :created_at %>
        <%= form.number_field :created_at %>
    </div>
 
    <div class = "actions">
        <%= form.submit %>
    </div>
