<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>TradingBoard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="application.scss" rel="stylesheet">
  </head>
  <body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <%# <a class="blog-header-logo text-dark">TradingBoard</a> %>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
    
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <li class="nav-link"><%= link_to "Tabletop Games", category_path("tabletop") %></li> 
        <li class="nav-link"><%= link_to "Card Games", category_path("card") %></li>
        <li class="nav-link"><%= link_to "Video Games", category_path("video") %></li>
    </nav>
  </div>

 <%# <div style="background-image:url(./images/4.jpg) !important">  %>
<%# <div style="background:transparent !important" class="jumbotron"> %>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style="background-image: url(https://images.unsplash.com/photo-1585504198199-20277593b94f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1777&q=80); background-size: cover">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to TradingBoard</h1>
      <p class="lead my-3">Buy, sell and swap quality second-hand games.</p>
        
        
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
          <button type="button" class="btn btn-success">Search</button>
        </form>     

    </div>
  </div>
  </div>

<% @listings = Listing.all %>
    <%# <% until @listing(params[:id]) == 20%> 
<% @listings.each do |listing| %>
    <%# NEED TO LIMIT TOTAL AMOUNT OF LISTINGS SHOWN THEN PAGy %>
    <%# WHY DO LISTINGS SLOWLY MOVE OFFSCREEN? %>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-1 text-muted"><%= "#{listing.category}"%></strong>
          <h3 class="mb-0"><%= "#{truncate listing.title, length: 50}"%></h3>
          <div class="mb-1 text-muted"><%= "#{listing.created_at}"%></div>
         <div> <%= %"price: #{listing.price_type}, $#{listing.price}" %> </div>
          <p class="card-text mb-auto"><%= "#{truncate listing.description, length: 100}"%></p>
           <td class = "td">
          <tr class = "tr"><%= link_to 'Show Listing', listing %></tr>

          <% if current_user.present? && current_user == listing.seller %>
          <tr class = "tr"><%= link_to "Edit Listing", edit_listing_path(listing) %></tr>
          <% end %>        
       
          </td>
        </div>

        <div class="col-auto d-none d-lg-block"></div>
          <img class="bd-placeholder-img" width="200" height="250" img-src=<%= image_tag listing&.photo if listing&.photo&.attached? %>
        </div>

      </div>
    </div>

<% end%>
    

    <%# how to iterate and create cards as you go? put all html in for loop %>
    <%# how to limit characters on listing initial description until you get to show method? %>


      
      <%# <div class="p-4"> list posts by date??
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
        </ol>
      </div> %>


    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->


</body>
</html>
