<p id="notice"><%= notice %></p>

<%= link_to 'Back', listings_path %>

<%# show a single listing - no truncation %>

<h1>View Listing Detail</h1>

<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-1 text-muted"><%= "#{@listing.category}"%></strong>
          <h3 class="mb-0"><%= "#{@listing.title}"%></h3>
          <div class="mb-1 text-muted"><%= "#{@listing.created_at}"%></div>
          <p class="card-text mb-auto"><%= "#{@listing.description}"%></p>

          <td class = "td">
       
          <% if current_user.present? && current_user.id == @listing.seller_id %>
          <tr class = "tr"><%= link_to "Edit Listing", edit_listing_path(@listing.id) %></tr>
          <% end %>        
        
          <% if current_user.present? && current_user.id == @listing.seller_id %>
          <tr class = "tr"><%= link_to 'Destroy Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> </tr>
          <% end %>        
        </td>
        
        </div>

        <div class="col-auto d-none d-lg-block"></div>
          <img class="bd-placeholder-img" width="200" height="250" img-src=<%= image_tag @listing&.photo if @listing&.photo&.attached? %>
        </div>



      </div>
    </div>
  
<%# class: "listing-img" %>
<%# &.name %>


 <%# <p><%= @listing.listing_to_sell&.user&.name %> 
    <%# <p><%= @listing&.user&.name %> 
    <%# <p><%= @listing.listing_to_sell&.seller_id&.name %>
    <%# doesnt work without hack in create method %>
    

      <%# # listing_id = params[:id]
    # @listing = Listing.find_by(id: listing_id)
    # seller_id = @listing.seller_id
    # @seller = User.find_by(id: seller_id) %>

  
    
  <%# only shows name if name true &, otherwise shows nothing, create ternary for alt %>
