<%# what is this page for %>

<p id="notice"><%= notice %></p>

<% if can? :edit, Listing %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>

<%= link_to 'Back', listings_path %>

<%# show a single listing %>

<h1>Listings</h1>

<%# @listings = Listing.all ???? %>

<div class="card">
 <%# <p><%= image_tag, class: "listing-img", (@listing.photo if @listing.photo.attached?) %>
 <p><%= image_tag @listing.photo, class: 'listing-img' if @listing.photo.attached?%></p>
   <p>Title: </p><p><%= @listing.title %></p>
  <p>Description: </p><p><%= @listing.description%></p>
  <p>Category (tabletop, card, video): </p><p><%= @listing.category%></p>
  <p>Price type: </p><p><%= "#{@listing.price_type}" %></p>
  <p>Price: </p><p><%= "#{@listing.price}" %> </p>
  <p>Posted by: </p><p><%= @listing&.seller&.name%> </p>    
  <p>Posted at: </p><p><%= @listing.created_at %></p>

 <td class = "td">

        <tr class = "tr"><%= link_to 'Show Listing', @listing %></tr>

        <% if current_user.present? && current_user.id == @listing.seller_id %>
        <tr class = "tr"><%= link_to "Edit Listing", edit_listing_path(@listing.id) %></tr>
        <% end %>        
        
        <% if current_user.present? && current_user.id == @listing.seller_id %>
        <tr class = "tr"><%= link_to 'Destroy Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> </tr>
        <% end %>
        
</td>
</div>

<%# class: "listing-img" %>
<%# &.name %>


 <%# <p><%= @listing.listing_to_sell&.user&.name %> 
    <%# <p><%= @listing&.user&.name %> 
    <%# <p><%= @listing.listing_to_sell&.seller_id&.name %>
    <%# doesnt work without hack in create method %>
    

      <%# # listing_id = params[:id]
    # @listing = Listing.find_by(id: listing_id)
    # seller_id = @listing.seller_id
    # @seller = User.find_by(id: seller_id) %>

  
    
  <%# only shows name if name true &, otherwise shows nothing, create ternary for alt %>
