<p id="notice"><%= notice %></p>

<h1>My Listings</h1>

<% @listings = Listing.accessible_by(current_ability, :update) %>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post">



<% @listings.each do |listing| %>


 
      <div class="card">
          <h3 class="blog-post-title"><%= truncate listing.title, length: 50 %></h3>
    <p class="blog-post-meta"><%= listing.created_at %></p>
        <p><%= image_tag listing.photo, class: 'listing-img' if listing.photo.attached?%></p>
        <p>Description:</p><p><%= truncate listing.description, length: 100%></p>
        <p>Category (tabletop, card, video):</p> <p><%= listing.category%></p>
        <p>Price type:</p><p><%= "#{listing.price_type}" %></p>
        <p>Price:</p><p><%= "$#{listing.price}" %> </p>
        <p>Posted by:</p> <p><%= listing&.seller&.name%> </p>
  
        
        <td class = "td">
          <tr class = "tr"><%= link_to 'Show Listing', listing %></tr>

          <% if current_user.present? && current_user.id == listing.seller_id %>
          <tr class = "tr"><%= link_to "Edit Listing", edit_listing_path(listing.id) %></tr>
          <% end %>        
        
          <% if current_user.present? && current_user.id == listing.seller_id %>
          <tr class = "tr"><%= link_to 'Destroy Listing', listing, method: :delete, data: { confirm: 'Are you sure?' } %> </tr>
          <% end %>
        
        </td>

    
      </div>

      <% end%>

