<p id="notice"><%= notice %></p>

<h1>My Listings</h1>

<% @listings = Listing.accessible_by(current_ability, :update) %>

<% @listings.each do |listing| %>


<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-1 text-muted"><%= "#{listing.category}"%></strong>
          <h3 class="mb-0"><%= "#{truncate listing.title, length: 50}"%></h3>
          <div class="mb-1 text-muted"><%= "#{listing.created_at}"%></div>
          <div> <%= %"price: #{listing.price_type}, $#{listing.price}" %> </div>
          <p class="card-text mb-auto"><%= "#{truncate listing.description, length: 100}"%></p>

          <td class = "td">
          <tr class = "tr"><%= link_to 'Show Listing', listing %></tr>

          <% if current_user.present? && current_user.id == listing.seller_id %>
          <tr class = "tr"><%= link_to "Edit Listing", edit_listing_path(listing.id) %> </tr>
          <tr class = "tr"><%= link_to 'Destroy Listing', listing, method: :delete, data: { confirm: 'Are you sure?' } %> </tr>
          <% end %>        
        </td>
        
        </div>

        <div class="col-auto d-none d-lg-block"></div>
          <img class="bd-placeholder-img" width="200" height="250" img-src=<%= image_tag listing&.photo if listing&.photo&.attached? %>
        </div>



      </div>
    </div>
  


    


      <% end%>

