<!DOCTYPE html>
<html>
  <head>
    <title>TradingBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  </head>

  <body>

  
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>


        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">TradingBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <li class = "nav-link"><%= link_to "Home", listings_path%></li>
  
  <% if user_signed_in? %>
      </li>
      <li class="nav-item">
        <li class = "nav-link"><%= link_to "Create New Listing", new_listing_path %></li>
        
      </li>
      <% if user_signed_in?%>
      <li class="nav-item">
        <li class="nav-link"><%= link_to "View My Listings", my_listings_path %></li>
      </li>
      <%end %>

      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My TradingBoard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"><%= link_to "My Listings", my_listings_path %></a>
          <%# < class="dropdown-item"><%= link_to "My Profile", my_profile_path %>
          <a class="dropdown-item"><%= link_to "Account Settings", edit_user_registration_path %></a>
          <%# <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
        </div>
      <% end %>
      <% end %>

      </li>

      <li>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </li>

    </ul>
  </div>
</nav>

<nav class="navbar fixed-bottom navbar-light bg-light">
      <ol class="list-unstyled">
        <div class="font-italic">TradingBoard by Alison Killen</div>
        <a href="https://github.com/alikillen">GitHub</a> |
         <a href="https://twitter.com/alikillenit">Twitter</a> |
          <a href = "https://www.linkedin.com/in/alison-killen-2327a059/">LinkedIn</a>
      </ol>
</nav>

  </body>
</html>
